<% content_for :title, "Articles list" %>
<div class="container mt-5">
  <%= render 'layouts/messages' %>
  <div class="row justify-content-between mx-lg-0 mx-3 mb-5">
    <div class="col-6">
      <h3>Articles list</h3>
    </div>
    <div class="col-6">
      <%= link_to 'Create new article', new_article_path, class: "btn btn-sm btn-success float-end"%>
    </div>
  </div>
  <%= render 'article', obj: @articles %>

</div>
