<% content_for :title, @user.username + "'s profile" %>
<div class="container mt-5">
  <h3><%= @user.username + "'s profile" %></h3>
  <%= gravatar_for @user, size: 200, class: "my-5 rounded mx-auto d-block shadow"%>

  <h4 class="mb-3" >Articles</h4>
  <% if @user.articles.empty? %>
    <p class="mb-5 mt-2">You haven't published any articles yet.</p>
  <% end %>
  <%= render 'articles/article', obj: @user.articles %>
</div>
