<% if obj.errors.any? %>
<div class="alert alert-warning shadow alert-dismissible fade show" role="alert">
  <p><strong>The following errors prevented the <%= obj.class.name.downcase %> from being saved</strong></p>
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
