body{
  min-height: 100vh;
  margin: 0;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar-brand{
  font-weight: bold !important;
  letter-spacing: -1px;
  font-size: 1.5em;
}
