
<footer class="py-4 position-absolute bottom-0 w-100 bg-light" id='footer_bar'>
  <div class="container text-end">
    All rights reserved to <%= link_to "Jhonny Tiscareño Ramirez", "https://www.linkedin.com/in/jhonnytisram/" %>
  </div>
</footer>
