<% flash.each do |name,msg| %>
  <% case name %>
    <% when "alert" %>
      <% type = "danger" %>
    <% when "notice" %>
      <% type = "success" %>
    <% else %>
      <% type = "info" %>
  <% end %>
  <div class="alert alert-<%= type %> mb-5 shadow alert-dismissible fade show" role="alert" style="height:3.5em">
    <p><%= msg %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
